doctype html
html(lang='en')
  head
    title Hello, World!
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    .navigation
      button.prev(type='button') Back
      button.next(type='button') Next
    .display
      h1.display-title
    .carousel
      ul.items
        li one
        li two
        li three
        li four
    script(src='/javascripts/bundle.js')
